@charset "UTF-8";

/* Mobile First */

:root {
     /* Paleta de cores */
  --cor-azul: #0577D7; /* Azul */
  --cor-azul-escuro: #005296; /* Azul escuro */
  --cor-azul-claro: #4CAADE; /* Azul Claro */
  --cor-azul-claro-shadow: #40bcff; /* Azul Claro shadowbox */
  --cor-destaque: #FFFFFF; /* Branco */
  --cor-cinza: #ecf0f1; /* Cinza claro */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;;
}

body,html {
    background-color: var(--cor-azul-escuro);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  overflow: hidden;

    background-color: var(--cor-destaque);
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.534);
    
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: #077AF1 url(../images/Infinit_Solucoes.png);
    display: block;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}
div#formulario > p {
font-size: 0.8em;    
}

form > div.campo{
    display: block;
margin: 12px;
margin-bottom: 15px;
}
.campo > input{
    padding: 8px;
    width: 85%;
    border: none;
    border: 2px solid #cccccc;
    border-radius: 8px;
}
.campo > span {
    transform: translateY(5px);
    padding-left: 5px;
}
.label-login{
    display: block;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-azul);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6px;
}

form > input[type=submit]:hover {
    background-color: #008cff;
    box-shadow: 1px 1px 6px #40bcff ;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: var(--cor-azul-escuro);
}

form > a.botao:hover {
    text-decoration: underline;
}
form > a.botao > span{
    font-size: 0.8em;
    transform: translateY(1px);

}

